* {
	font-family:sans-serif;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	margin:collapse;
	padding:0px;
	box-sizing:border-box;
	
}
*:not(.ara){
	
	text-transform:capitalize;
}

body,html,footer, .height {
	margin:0;
}
body {
	
	background-color:rgb(222,222,222);
	color:rgb(88,88,88);	
}
.height {
	overflow:auto;
	height:calc(100vh - 100px);
	
}
div p {
	font-size:120%;
	font-weight:bold;
}

a {
	color:blue;
	text-decoration:none;
}
a:hover {
	
	color:green;
}
.img1 {	
	display:block;	
	width:300px;
	
}
li {
	
	list-style-position:inside;
}
.bold {
	
	font-weight:bold;
}
.ara >*:not(h1) {
	text-align:right;
	direction:rtl;	
}
.ara,.en {
	
	max-width:500px;
}

footer a, br {
	margin:0;
	color:rgb(200,200,200);
}
footer {
	padding:22px 56px;
	width:100%;
	min-height:100px;
	background-color:rgb(44,44,44);
	color:white;
	position:relative;
	bottom:0px;	
}
summary:hover {
	cursor:pointer;
	color:green;
}
summary {
	
	font-size:117%;
}
h1 {
	
	text-align:center;
}
@media all and (max-width:540px) {
	*:not(li) {
		
		text-align:center;
	}
	.en li {
		
		text-align:left;
	}
	.ara p {
		
		text-align:center;
	}
}